body{
    background-color: #102f4e;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu_logo{
    width: 100px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.menu_logo:hover{
    transform: scale(1.1);      
}

.menu_lista{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_lista_item{
    color: #ff9f00;
    font-family: 'M PLUS Rounded 1c', sans-serif; 
    font-size: 30px;   
    text-decoration: none;

}
.menu_lista_item:hover{
    color: #bb4d09;
    transition: 0.4s;
}

.menu_curriculo{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #ff9f00 ;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.4s;
}
.menu_curriculo:hover{
    background-color: #bb4d09;
}

.home{
    height: 100vh;
    background-image: url("https://camo.githubusercontent.com/9e5e7795957f65ab8a2f305aaaffc4ccbbdbae2e78c66d0fe37b51c8fa6ce774/68747470733a2f2f692e696d6775722e636f6d2f34585444584f352e676966");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.home_img{
    max-width: 300px;
    border-radius: 50%;
    border: 5px solid white;
    transition: 0.5s ease-in-out;
}

.home_img:hover{
    transform: scale(1.1);
    border: 5px solid #bb4d09;
}
.home_infos{
    background-color: #0a0400da;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    gap: 20px;
}
.home_nome{
    font-size: 55px;
}
.home_area{
    font-size: 40px;
    color: #ff9f00;
}
.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 90px auto;
    gap: 30px;
    min-height: 97vh;
    border-top: 10px solid #bb4d09;
    border-bottom:  10px solid #bb4d09;
}
.sobre_img{
    width: 30vw;
    border-radius: 40%;
}
.sobre_infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: #edc27d;
}
.sobre_titulo{
    font-size: 80px;
    color: #ff9f00;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
}
.sobre_titulo::before{
    content: "";
    background-image: url(https://images.vexels.com/media/users/3/142793/isolated/preview/7bb44d84358482ae3bf7661a449e76e7-icone-laranja-zig-zag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    position: absolute;
    top: -20px;
    left: -110px;
    z-index: -1;
}
.sobre_texto{
    font-size: 24px;
    line-height: 1.3;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 90px auto;
    gap: 30px;
    min-height: 97vh;
    border-bottom:  10px solid #bb4d09;
}

.cursos_titulo{
    font-size: 200px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    word-wrap: break-word;
    max-width: 400px;
    line-height: 1.3;
    color: #aa6900;
}
.cursos_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.curso{
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.363);
}
.curso_titulo{
    color: #bb4d09;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    position: relative;
}
.curso_subtitulo{
    color: #ff9f00;
    font-weight: bold;
    font-size: 14px;
}
.curso_texto{
    color: #edc27d;
    line-height: 1.2;
    font-size: 18px;
}
.curso_duracao{
    color: #ef3f3ff9;
    font-size: 14px;
}
.curso_titulo::before{
    content: "";
    background: linear-gradient(to right,#bb4d09d5,#ff9f00d5,#edc27dd5);
    width: 12px;
    height: 20px; 
    border-radius: 4px;
    position: absolute;
    left: -20px;
    bottom: 0px;

}